* {
    margin: 0;
    padding: 0;
    left: 0;
}

html {
    height: 100%;
}

body {
    background-color: #ffffff;
    display: block;
    font-family: Arial;
    font-size: 26px;
}

header {
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 320px;
}

.header_logo {
    position: absolute;
    margin-left: 50%;
    top: 30px;
    transform: translate(-50%, 0)
}

.funko_header {
    display: block;
    margin-left: 50%;
    transform: translate(-50%, 0)
}

.rocks_header {
    display: block;
    margin-left: 50%;
    transform: translate(-50%, -30%)
}

.rectangle {
    display: block;
    margin-left: 50%;
    transform: translate(-50%, 0);
    width: 95%;
    height: 45px;
    background-color: darkkhaki;
    border-color: bisque;
    border-radius: 10px;
    top: 250px;
    position: absolute;
}

.bodypart {
    position: absolute;
    display: inline;
    top: 320px;
    width: 75%;
}

.shoppingcart {
    position: fixed;
    display: inline;
    top: 330px;
    left: calc(100% - 770px);
    width: 700px;
    font-size: 18px;
}
.shoppingcart_header {
    font-size: 22px;
    text-align: center;
    background-color: darkkhaki;
    border-color: darkkhaki;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.shoppingcart_footer {
    font-size: 22px;
    text-align: right;
    background-color: darkkhaki;
    border-color: darkkhaki;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 70px;
}
.shoppingcart_body {
    font-size: 26px;
    background-color: beige;
}

.shoppingcart_item {
    width: 400px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.shoppingcart_qtty {
    width: 100px;
    text-align: center;
    padding-bottom: 10px;
}

.shoppingcart_amount {
    width: 130px;
    text-align: center;
    padding-bottom: 10px;
}

.shoppingcart_trash {
    text-align: center;
    padding-left: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

.products {
    display: inline;
    position: relative;
    top: 0px;
    left: 60px;
}

.item_price {
    text-align: right;
    padding-right: 25px
}

.quantity {
    width: 50px;
    height: 30px;
    margin-left: 10px;
    text-align: center;
    font-size: 26px;
}

.button {
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}